@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #0d1b2a;
  --color2: #1b263b;
  --color3: #415a77;
  --color4: #778da9;
  --color5: #e0e1dd;
  --accent: #8855ff;
}

body {
  min-height: 100%;
  background: var(--color1)
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.color4 {
  background: var(--color4);
}

.color5 {
  background: var(--color5);
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color1);
}

/* Testing CSS */

.window {
  border-radius: 10px;
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 300px;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .window {
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .window {
    width: 600px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}